.footer {
  padding: 40px 0;
  text-align: center;
  color: #999;
  border-top: solid 1px #eee;
}

/* Social Icons */

.social a {
  margin-right: 1rem;
  color: #999;
  &:hover {
    color: #666;
  }
}
